{% extends 'base.html.twig' %}

{% block title %}Lista de Veterinarios{% endblock %}

{% block body %}
    <h1>Veterinarios</h1>
    <a href="{{ path('veterinarian_new') }}">Cadastrar Novo Veterinario</a>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>CRMV</th>
                <th>Ações</th>
            </tr>
        </thead> 
        <tbody>
            {% for veterinarian in veterinarians %}
                <tr>
                    <td>{{ veterinarian.name }}</td>
                    <td>{{ veterinarian.crmv }}</td>
                    <td>
                        <a href="{{ path('veterinarian_show', {'id': veterinarian.id}) }}">Visualizar</a>
                        <a href="{{ path('veterinarian_edit', {'id': veterinarian.id }) }}">Editar</a>
                        {{ include('veterinarian/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
