{% extends 'base.html.twig' %}

{% block title %}Veterinarios{% endblock %}

{% block body %}
    <h1>Veterinarios</h1>
    <a href="{{ path('veterinarian_new') }}">Cadastrar Novo Veterinario</a>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>CRMV</th>
                <th>Ações</th>
            </tr>
        </thead> 
        <tbody>
            {% for veterinarian in veterinarians %}
                <tr>
                    <td>{{ veterinarian.name }}</td>
                    <td>{{ veterinarian.crmv }}</td>
                    <td>
                        <a href="{{ path('veterinarian_edit', {'id': veterinarian.id }) }}">Editar</a>
                        <form action="{{ path('veterinarian_delete', {'id': veterinarian.id}) }}" method="post" onsubmit="return confirm('Tem certeza que deseja excluir?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ veterinarian.id) }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit">Deletar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
