{% extends 'base.html.twig' %}

{% block title %}Página Inicial{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h3>Bem Vindo(a)</h3>
        <div class="d-flex gap-2 justify-content-center"> 
            <a href="{{ path('farm_index') }}" class="btn btn-primary">
                <i class="fas fa-plus me-1"></i> Gerenciar Fazendas
            </a>

            <a href="{{ path('cow_index') }}" class="btn btn-warning">
                <i class="fas fa-plus me-1"></i> Gerenciar Gados
            </a>

            <a href="{{ path('veterinarian_index') }}" class="btn btn-success">
                <i class="fas fa-plus me-1"></i> Gerenciar Veterinários
            </a>

            <a href="{{ path('cow_slaughter') }}" class="btn btn-secondary">
                <i class="fas fa-plus me-1"></i> Animais para o Abate
            </a>
        </div>

        <div class="row justify-content-center gap-3 mt-4">
            <div class="col-12 col-sm-6 col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">Leite</h5>
                        <p class="card-text">Total de leite produzido por semana</p>
                        <h3>{{ totalMilk }} Litros</h3>
                    </div>
                </div>
            </div>
    
            <div class="col-12 col-sm-6 col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">Ração</h5>
                        <p class="card-text">Total de ração consumida por semana</p>
                        <h3>{{ totalFood }} kgs</h3>
                    </div>
                </div>
            </div>
    
            <div class="col-12 col-sm-6 col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">Quantidade</h5>
                        <p class="card-text">Animais até 1 ano e 500Kg+ de ração por semana</p>
                        <h3>{{ totalCowAndFood.total_animals }}</h3>
                        <a href="" class="btn btn-primary mt-2">Ver Relatório</a>
                    </div>
                </div>
            </div>
    
            <div class="col-12 col-sm-6 col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">Abatidos</h5>
                        <p class="card-text">Relatórios de animais abatidos</p>
                        <a href="{{path('app_slaughtered')}}" class="btn btn-primary mt-2">Ver Relatório</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}